@model CarShop.Web.ViewModels.Car.AddNewCarViewModel

@{
    this.ViewData["title"] = "Add New Car";
    var brands = Model.CarBrands.Select(x => new SelectListItem() { Value = x.Key, Text = x.Value });
    var categories = Model.Category.Select(x => new SelectListItem() { Value = x.Key, Text = x.Value });
    var engineTypes = Model.EngineType.Select(x => new SelectListItem() { Value = x.Key, Text = x.Value });
    var transmissions = Model.Transmission.Select(x => new SelectListItem() { Value = x.Key, Text = x.Value });
}
<h1>@this.ViewData["title"]</h1>

<form asp-controller="Car" asp-action="AddNewCar" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for=CarBrandId>Car Brand</label>
            <select onchange="onChangeBrand()" asp-for=CarBrandId id="carBrands" asp-items=@brands class="form-select" aria-label="Default select example">
                <option selected>Select brand</option>
            </select>
            <span asp-validation-for="CarBrandId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CarModelId">Car Model</label>
            <select id="carModels" class="form-select" asp-for="CarModelId">
                <option selected>Please select brand</option>

            </select>
            <span asp-validation-for="CarModelId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for=CategoryId>Category</label>
            <select asp-for=CategoryId asp-items=@categories class="form-select">
                <option selected>Select Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for=EngineTypeId>Engine Type</label>
            <select asp-for=EngineTypeId asp-items=@engineTypes class="form-select">
                <option selected>Select Engine Type</option>
            </select>
            <span asp-validation-for="EngineTypeId" class="text-danger"></span>
        </div>


        <div class="form-group col-md-6">
            <label asp-for=TransmissionId>Transmission</label>
            <select asp-for=TransmissionId  asp-items=@transmissions class="form-select">
                <option selected>Select Transmission</option>
            </select>
            <span asp-validation-for="TransmissionId" class="text-danger"></span>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputBrand4">Year Of Creation</label>
            <input class="form-control" id="YearOfCreation" asp-for="YearOfCreation" placeholder="Enter Year of Creation">
            <span asp-validation-for="YearOfCreation" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Mileage</label>
            <input class="form-control" id="Mileage" placeholder="Enter Mileage" asp-for="Mileage">
            <span asp-validation-for="Mileage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="inputAddress">Horse Power</label>
        <input type="text" class="form-control" id="hoursePower" asp-for="HoursePower" placeholder="Enter Horse Power">
        <span asp-validation-for="HoursePower" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="inputAddress2">Color</label>
        <input type="text" class="form-control" id="Color" asp-for="Color" placeholder="Enter Color">
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="inputAddress2">Description</label>
        <input type="text" class="form-control" id="Color" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Images"></label>
        <input asp-for="Images">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <button style="margin-bottom: 45px;" type="submit" class="btn btn-primary">Add Car</button>
</form>

<script type="text/javascript">
    function onChangeBrand() {
        var carBrand = parseInt($('#carBrands').val());

        $.ajax({
            url: '/Car/GetModels' + '?carBrandId=' + carBrand,
            method: 'GET',
            success: function (response) {
                $('#carModels').empty();
                $('#carModels').append(`<option selected>Please select brand</option>`)

                for (const [key, value] of Object.entries(response)) {
                    $('#carModels').append(`<option value=${key}>${value}</option>`);
                    console.log(key, value);
                }

            }

        });
    }


</script>